@media (min-width: 700px) and (max-width:922px){
    .hd-size {
        padding: 0 15px;
    }
    .size-horror {
        padding: 1px 160px;
    }
    .new-size {
        padding: 10px 10px;
    }
    .new-sx {
        padding: 0 30px;
        margin-bottom: 20px;
    }
    .up-size {
        padding: 17px 50px;
    }
    .up-sizes {
        padding: 0px 58px;
        margin-bottom: 10px;
    }
    .mobile-size {
        padding: 0 85px;
    }
    .text-in {
        margin-top: 27px;
    }
    .section-heading {
        font-size: 28px;
    }
    .endheading {
        font-size: 23px;
    }
    .subheading {
        display: none;
    }
    .adventure-home, 
    .anime-home, 
    .horror-film, 
    .movie-home, 
    .new-home, 
    .sword-home {
        width: 100%;
    }
    .love-home {
        width: 100%;
    }
    .film-play {
        margin-left: 85px;
    }
    .film-two {
        margin-left: 300px;
    }
    .movie-item {
        font-size: 23px;
    }
    .movie-text {
        font-size: 22px;
        margin-top: -215px;
        margin-bottom: 197px;
    }
    .icon-play {
        margin-left: -29%;
        margin-top: 11%;
    }
    .horror-film {
        width: 100%;
    }
    .horror-item {
        font-size: 28px;
    }
    .horror-title {
        font-size: 30px;
        margin-top: -576px;
        margin-bottom: 544px;
    }
    .adventure-play {
        font-size: 30px;
        margin-left: 25%;
    }
    .love-tx {
        font-size: 19px;
        margin-top: -62%;
        margin-bottom: 57%;
    }
    .love-told {
        font-size: 20px;
        margin-left: 25px;
        margin-top: -40%;
        margin-bottom: 37%;
    }
    .love-play-one {
        margin-top: 15%;
        margin-left: -26%;
    }
    .love-play-two {
        margin-top: 10%;
        margin-left: -26%;
    }
    .love-play-three {
        margin-left: -52%;
        margin-top: 30%;
    }
    .gift-footer {
        margin-top: 110px;
    }
    .footer-title {
        margin-top: -10%;
        margin-bottom: 9%;
        text-align: center;
    }
    .film-footer {
        margin-top: 15%;
        margin-left: 4%;
        margin-right: 1%;
    }
    ul.film-list {
        flex: 1;
        margin-left: 0px;
    }
    .icon-social {
        margin-top: 1%;
        margin-left: 63%;
    }
    .list-social {
        margin-right: 1%;
        margin-top: -7%;
    }
    .list-social h3 {
        margin-left: 65%;
    }
    .love-image {
        height: 340px;
    }
    .film-list li a {
        font-size: 22px;
        line-height: 2;
        color: #fff;
        text-decoration: none;
    }
    .movie-text {
        font-size: 24px;
    }
    .film-img {
        width: 100%;
        height: 270px;
    }
    .horror-title {
        font-size: 22px;
        margin-top: -104%;
        margin-bottom: 101%;
    }
    .name-film {
        font-size: 26px;
    }
    .new-item {
        font-size: 33px;
    }
    .movie-item {
        font-size: 23px;
    }
    .horror-title {
        font-size: 25px;
        margin-top: -104%;
        margin-bottom: 99%;
    }
}
@media (min-width: 700px) and (max-width:800px) {
    .film-two {
        margin-left: 38%;
    }
    .new-item {
        font-size: 27px;
    }
    .movie-text {
        margin-top: -57%;
    }
    .adventure-play {
        margin-left: 29%;
    }
    .love-img {
        height: 225px;
    }
    .film-play {
        font-size: 20px;
        margin-left: 26%;
    }
    .film-two {
        font-size: 22px;
    }
    .love-tx {
        font-size: 19px;
        margin-top: -56%;
    }
    .love-told {
        margin-top: -41%;
        margin-bottom: 43%;
    }
    .love-play-three {
        margin-left: -52%;
        margin-top: 19%;
    }
}
@media (min-width: 912px) and (max-width:986px) {
    .mobile-size {
        padding: 0 100px;
    }
    .col-md-6 {
        padding: 22px 23px;
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-12 {
        padding: 17px 26px;
        flex: 0 0 auto;
        width: 100%;
    }
    .film-play {
        margin-left: 34%;
    }
    .film-two {
        margin-left: 37%;
    }
    .mobile-size {
        padding: 24px 105px;
    }
    .movie-text {
        font-size: 24px;
        margin-left: 10px;
        margin-top: -56%;
        margin-bottom: 53%;
    }
    .adventure-play {
        font-size: 29px;
        margin-left: 29%;
    }
    .love-tx {
        font-size: 23px;
        margin-top: -57%;
        margin-bottom: 57%;
    }
    .love-told {
        font-size: 20px;
        margin-left: 25px;
        margin-top: -37%;
        margin-bottom: 37%;
    }
    .love-image {
        height: 335px;
    }
    .love-play-two {
        margin-top: 11%;
        margin-left: -28%;
    }
    .icon-play {
        margin-left: -25%;
        margin-top: 10%;
    }
    .film-footer {
        margin-top: 15%;
        margin-left: -58%;
        margin-right: 1%;
    }
    
}

@media (min-width: 986px) and (max-width:1050px) {
    .film-play {
        margin-left: 10%;
    }
    .movie-text {
        font-size: 18px;
        margin-top: -54%;
        margin-bottom: 49%;
    }
    .adventure-play {
        margin-left: 9%;
    }
    .love-tx {
        margin-top: -77%;
        margin-bottom: 68%;
    }
    .love-told {
        margin-top: -77%;
        margin-bottom: 69%;
    }
    .film-two {
        margin-left: 22%;
    }
    .text-in {
        font-style: 17px;
    }
    .icon-play {
        margin-left: -14%;
        margin-top: 4%;
    }
    /* web two */
    .text-home {
        width: 84%;
    }
}
@media (min-width: 1050px) and (max-width:1126px) {
    .adventure-play {
        margin-left: 14%;
    }
    .film-play {
        margin-left: 11%;
    }
}
@media (min-width: 1100px) and (max-width:1300px) {
    .movie-text {
        margin-top: -55%;
    }
    .film-two {
        margin-left: 30%;
    }
}
/* web twotwo */
@media (min-width: 545px) and (max-width:986px) {
    .text-home {
        width: 78%;
    }
    .icon-bl {
        margin: 21px 23px 2px 29px;
    }
}
@media (min-width: 300px) and (max-width:545px) {
    .text-home {
        width: 73%;
        font-size: 9px;
        margin: 6px 6px 6px 5px;
        padding: 15px;
    }
    .icon-bl {
        font-size: 19px;
        margin: 14px 11px 2px 10px;
        float: left;
    }
}

@media (min-width: 914px) and (max-width:986px) {
    .text-slider {
        margin-top: -22%;
        margin-left: 21%;
    }
}
@media (min-width: 986px) and (max-width:1176px) {
    .text-slider {
        margin-top: -20%;
    }
    .text-home {
        width: 84%;
    }
}
@media (min-width: 860px) and (max-width:914px) {
    .text-slider {
        margin-top: -24%;
    }
}
@media (min-width: 750px) and (max-width:860px) {
    .text-slider {
        margin-top: -25%;
    }
    .icon-home a {
        font-size: 18px;
        color: #fff;
    }
    .icon-home a {
        font-size: 18px;
        color: #fff;
    }
    .title-home {
        font-size: 20px;
    }
    .title-slider {
        font-size: 25px;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -31%;
    }
    .tag-link {
        font-size: 11px;
    }
    .bl-title {
        font-size: 24px;
    }
}
@media (min-width: 650px) and (max-width:750px) {
    .icon-home a {
        font-size: 11px;
        color: #fff;
    }
    .text-slider {
        margin-top: -25%;
    }
    .title-home {
        font-size: 20px;
    }
    .title-slider {
        font-size: 25px;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -31%;
    }
    .tag-link {
        font-size: 16px;
    }
    .bl-title {
        font-size: 22px;
    }
}
@media (min-width: 550px) and (max-width:650px) {
    .icon-home a {
        font-size: 11px;
        color: #fff;
    }
    .icon-home {
        font-size: 10px;
        padding: 6px;
        border-radius: 5px;
    }
    .text-slider {
        margin-top: -26%;
    }
    .title-home {
        font-size: 14px;
    }
    .title-slider {
        font-size: 16px;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -31%;
    }
    .bl-title {
        font-size: 20px;
    }
    .tag-link {
        font-size: 15px;
    }
}
/* web three */
@media (min-width: 600px) and (max-width:800px) {
    .watch-left {
        margin-top: -3%;
      }
    .watch-right {
        margin-top: -3%;
    }
}
@media (min-width: 454px) and (max-width:600px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
    }
    .watch-left { 
        margin-top: -6%;
    }
    .title-dav {
        font-size: 15px;
    }
}
@media (min-width: 337px) and (max-width:454px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 20px;
    }
    .watch-left { 
        margin-top: -6%;
        font-size: 20px;
    }
    .title-dav {
        font-size: 15px;
    }
}
@media (min-width: 300px) and (max-width:337px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 15px;
    }
    .watch-left { 
        margin-top: -6%;
        font-size: 15px;
    }
    .title-dav {
        font-size: 15px;
    }
}
