@media (min-width: 450px) and (max-width: 700px) {
    .hd-size, 
    .horror-size, 
    .movie-size, 
    .new-size {
        width: 50%;
    }
    .sword-size {
        width: 50%;
    }
    .love-size {
        width: 50%;
    }
    .love-sx {
        padding: 1px 1px;
    }
    .anime-size {
        width: 50%;
    }
    .new-size {
        width: 50%;
        margin-bottom: 15px;
    }
    .up-sizes {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .up-size {
        width: 50%;
        margin-bottom: 30px;
    }
    .mobile-size {
        width: 50%;
    }
    .text-in{
        margin-top: 27px;
        display: none;
    }
    .film-play {
        margin-left: 53px;
    }
    .film-two {
        margin-left: 180px;
    }
    .text-one {
        width: 0%;
    }
    .slider-home {
        width: 100%;
    }
    .subheading {
        display: none;
    }
    .endheading {
        display: none;
    }
    .movie-text {
        margin-top: -125px;
        margin-bottom: 100px;
    }
    .icon-play {
        margin-left: -26%;
        font-size: 45px;
        margin-top: 10%;
    }
    .horror-title{
        margin-bottom: 483px;
        margin-top: -506px;
    } 
    .adventure-home, 
    .anime-home, 
    .horror-film, 
    .movie-home, 
    .new-home, 
    .sword-home, 
    .love-home {
        width: 100%;
    }
    .love-text {
        font-size: 15px;
        margin-top: -160px;
        margin-bottom: 140px
    }
    .love-tx {
        font-size: 19px;
        margin-top: -105%;
        margin-bottom: 100%;
    }
    .love-told {
        font-size: 20px;
        margin-left: 25px;
        margin-top: -50%;
        margin-bottom: 47%;
    }
    .love-img {
        height: 175px;
    }
    .love-play-two {
        margin-top: 7%;
        margin-left: -28%;
    }
    .love-play-three {
        margin-left: -55%;
        margin-top: 25%;
    }

    .list-social {
        margin-right: 1%;
        padding: 15px 100px 7px 130px;
    }
    .film-footer {
        margin-top: 45%;
        margin-left: 16%;
        margin-right: 1%;
    }
    ul.film-list {
        margin-left: -55px;
    }
    .film-list li a {
        font-size: 11px;
    }
    .film-list {
        flex: 1;
    }
    .text-on {
        display: none;
    }
    .film-list h3 {
        font-size: 16px;
        color: #00b2ff;
    }
    .slider-home {
        height: 281px;
    }
    .slider-img {
        height: 100%;
    }
}
@media (min-width: 350px) and (max-width: 400px) {
    .text-one {
        width: 0%;
    }
    .slider-home {
        width: 100%;
    }
    .subheading {
        display: none;
    }
    .endheading {
        display: none;
    }
    .film-footer {
        margin-top: 60%;
        margin-left: 16%;
        margin-right: 1%;
    }
    .movie-text {
        margin-top: -52%;
        margin-bottom: 40%;
    }
    
    .hd-size, 
    .horror-size, 
    .movie-size, 
    .new-size {
        width: 50%;
    }
    .sword-size {
        width: 50%;
    }
    .love-size {
        width: 50%;
    }
    .love-sx {
        padding: 1px 1px;
    }
    .anime-size {
        width: 50%;
    }
    .new-size {
        width: 50%;
        margin-bottom: 15px;
    }
    .up-sizes {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .up-size {
        width: 50%;
        margin-bottom: 30px;
    }
    .mobile-size {
        width: 50%;
    }
    .text-in{
        margin-top: 27px;
        display: none;
    }
    .film-list {
        flex: 1;
    }
    .slider-home {
        height: 222px;
    }
    .slider-img {
        height: 100%;
    }
    .film-footer {
        margin-top: 45%;
        margin-left: -3%;
    }
    .icon-play {
        margin-left: -29%;
        margin-top: 6%;
    }
    .film-play {
        margin-left: 7%;
    }
    .film-two {
        margin-left: 32%;
    }
    .adventure-play {
        margin-left: 8%;
    }
    .love-tx {
        font-size: 16px;
        margin-top: -73%;
        margin-bottom: 64%;
    }
    .love-told {
        margin-top: -66%;
        margin-bottom: 62%;
    }
    .film-list li a {
        font-size: 11px;
    }
    .film-list h3 {
        margin-left: 7%;
        font-size: 18px;
    }
    .love-img {
        height: 120px;
    }
    .love-play-three {
        margin-top: 35%;
        margin-left: -59%;
    }
    .love-play-two {
        margin-top: 8%;
        margin-left: -31%;
    }
    .icon-social {
        margin-left: 7%;
    }
}
@media (min-width: 300px) and (max-width: 350px) {
    .text-one {
        width: 0%;
    }
    .slider-home {
        width: 100%;
    }
    .subheading {
        display: none;
    }
    .endheading {
        display: none;
    }
    .hd-size, 
    .horror-size, 
    .movie-size, 
    .new-size {
        width: 50%;
    }
    .sword-size {
        margin-bottom: 16px;
        width: 50%;
    }
    .love-size {
        width: 50%;
    }
    .love-sx {
        padding: 1px 1px;
    }
    .anime-size {
        width: 50%;
    }
    .new-size {
        width: 50%;
        margin-bottom: 15px;
    }
    .up-sizes {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .up-size {
        width: 50%;
        margin-bottom: 30px;
    }
    .mobile-size {
        width: 50%;
    }
    .text-in{
        margin-top: 27px;
        display: none;
    }
    .list-social {
        margin-right: 1%;
        padding: 15px 2px 7px 5px;
    }
    .film-footer {
        margin-top: 60%;
        margin-left: 16%;
        margin-right: 1%;
    }
    .love-told {
        font-size: 20px;
        margin-left: 25px;
        margin-top: -77%;
        margin-bottom: 73%;
    }
    .love-tx {
        font-size: 19px;
        margin-top: -125%;
        margin-bottom: 100%;
    }
    .adventure-play {
        font-size: 16px;
        color: red;
        padding: 10px 21px;
        background-color: gray;
        margin-left: 13px;
        border-radius: 44px;
        text-decoration: none;
    }
    .horror-title {
        font-size: 22px;
        margin-bottom: 103%;
        margin-top: -109%;
    }
    .film-play {
        margin-left: 4%;
    }
    .film-two {
        margin-left: 30%;
    }
    .film-list {
        flex: 1;
    }
    .slider-home {
        height: 180px;
    }
    .slider-img {
        height: 100%;
    }
    .film-footer {
        margin-left: -3%;
    }
    .love-img {
        height: 163px;
    }
    .love-tx {
        margin-top: -116%;
        margin-bottom: 77%;
    }
    .movie-text {
        font-size: 14px;
        margin-left: 10px;
        margin-top: -60%;
        margin-bottom: 42%;
    }
    .film-list h3 {
        font-size: 20px;
    }
    .film-list li a {
        font-size: 13px;
    }
    .icon-play {
        opacity: 0;
        margin-left: -31%;
        font-size: 60px;
        position: absolute;
        margin-top: 3%;
    }
    .love-play-two {
        margin-top: 14%;
        margin-left: -31%;
    }
    .love-play-three {
        margin-top: 28%;
        margin-left: -60%;
    }
    
}
 @media (min-width: 400px) and (max-width: 450px) {

    .text-one {
        width: 0%;
    }
    .slider-home {
        width: 100%;
    }
    .subheading {
        display: none;
    }
    .endheading {
        display: none;
    }
    .film-footer {
        margin-top: 60%;
        margin-left: 16%;
        margin-right: 1%;
    }
    .movie-text {
        margin-top: -52%;
        margin-bottom: 40%;
    }
    
    .hd-size, 
    .horror-size, 
    .movie-size, 
    .new-size {
        width: 50%;
    }
    .sword-size {
        width: 50%;
    }
    .love-size {
        height: 200px;
        width: 50%;
    }
    .love-sx {
        padding: 1px 1px;
    }
    .anime-size {
        width: 50%;
    }
    .new-size {
        width: 50%;
        margin-bottom: 15px;
    }
    .up-sizes {
        padding: 0 20px;
        margin-bottom: 40px;
    }
    .up-size {
        width: 50%;
        margin-bottom: 30px;
    }
    .mobile-size {
        width: 50%;
    }
    .text-in{
        margin-top: 27px;
        display: none;
    }
    .film-list {
        flex: 1;
        font-size: 14px;
    }
    .slider-home {
        height: 222px;
    }
    .slider-img {
        height: 100%;
    }
    .list-social h3 {
    margin-left: 14%;
    }
    
    .film-play {
        margin-left: 19%;
    }
    .film-two {
        margin-left: 35%;
    }
    .movie-text {
        margin-top: -58%;
        margin-bottom: 49%;
    }
    .horror-title {
        margin-bottom: 98%;
        margin-top: -104%;
    }
    .adventure-play {
        margin-left: 17%;
    }
    .love-tx {
        font-size: 19px;
        margin-top: -91%;
        margin-bottom: 79%;
    }
    .love-told {
        margin-top: -61%;
        margin-bottom: 55%;
    }
    .love-play-three {
        margin-top: 25%;
        margin-left: -58%;
    }
     .love-play-two {
        margin-top: 11%;
        margin-left: -28%;
    }
    .icon-social {
        margin-left: 14%;
        font-size: 30px;
    }
    .film-footer {
        margin-top: 35%;
        margin-left: -3%;
        margin-right: 1%;
    }
    .love-img {
        height: 165px;
    }
    .iconicon {
        margin-left: 29%;
    }
    
}   
@media (min-width: 500px) and (max-width: 550px) {
    .film-footer {
        margin-top: 30%;
        margin-left: 15%;
    }
    .love-tx {
        font-size: 19px;
        margin-top: -70%;
        margin-bottom: 63%;
    }
    .love-play-two {
        margin-top: 18%;
        margin-left: -56%;
    }
    .movie-text {
        margin-top: -135px;
        margin-bottom: 112px;
    }
    .love-told {
        margin-top: -46%;
        margin-bottom: 44%;
    }
    .love-play-two {
        margin-top: 11%;
        margin-left: -27%;
    }
    .love-play-three {
        margin-left: -55%;
        margin-top: 19%;
    }
}
/* web twotwo */
@media (min-width: 450px) and (max-width:550px) {
    .icon-home a {
        font-size: 11px;
    }
    .text-slider {
        margin-top: -28%;
    }
    .title-home {
        font-size: 13px;
    }
    .title-slider {
        font-size: 11px;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -32%;
    }
    .icon-home {
        font-size: 10px;
        padding: 4px;
        border-radius: 5px;
    }
    .bl-title {
        font-size: 17px;
    }
    .tag-link {
        font-size: 12px;
    }
}
@media (min-width: 350px) and (max-width:450px) {
    .icon-home a {
        font-size: 7px;
    }
    .text-slider {
        margin-top: -28%;
    }
    .title-home {
        font-size: 13px;
        margin-bottom: 3%;
    }
    .title-slider {
        font-size: 11px;
        margin-bottom: 4%;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -32%;
    }
    .icon-home {
        font-size: 10px;
        padding: 4px;
        border-radius: 5px;
    }
    .tag-link {
        font-size: 11px;
    }
    .bl-title {
        font-size: 15px;
    }

}

@media (min-width: 300px) and (max-width:350px) {
    .icon-home a {
        font-size: 7px;
        padding: 8px;
    }
    .text-slider {
        margin-top: -33%;
    }
    .title-home {
        font-size: 13px;
        margin-bottom: 3%;
    }
    .title-slider {
        font-size: 11px;
        margin-bottom: 4%;
    }
    .home-two {
        margin-left: 2%;
        margin-top: -32%;
    }
    .icon-home {
        font-size: 10px;
        padding: 4px;
        border-radius: 5px;
    }
    .tag-link {
        font-size: 11px;
    }
    .bl-title {
        font-size: 15px;
    }

}
/* web three */
@media (min-width: 454px) and (max-width:600px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
    }
    .watch-left { 
        margin-top: -6%;
    }
    .title-dav {
        font-size: 15px;
    }
}
@media (min-width: 337px) and (max-width:454px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 20px;
    }
    .watch-left { 
        margin-top: -6%;
        font-size: 20px;
    }
    .title-dav {
        font-size: 15px;
    }
}
@media (min-width: 300px) and (max-width:337px) {
    .watch-right {
        margin-top: -6%;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 15px;
    }
    .watch-left { 
        margin-top: -6%;
        font-size: 15px;
    }
    .title-dav {
        font-size: 15px;
    }
}
/* endend */
