
  body {
    margin: 0;
    padding: 0;
  }
  .text-white {
    font-size: 27px;
  margin-left: 10px;
  text-shadow: 0 0 10px var(--bs-cyan),
   0 0 20px var(--bs-cyan),
   0 0 40px var(--bs-cyan),
   0 0 100px var(--bs-cyan);
  }
  .search-text {
    background-color: #D9D9D9;
  }
  .search-icon input {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 1.5s;
    position: relative;
    cursor: pointer;
  }
  .search-icon input:hover {
    width: 200px;
    border-radius: 20px;

  }
  .icon-search {
    position: absolute;
    margin-top: 17px;
    margin-left: -35px;
    font-size: 21px;
    cursor: pointer;
  }
  #slider {
    height: 344px;
    width: 100%;
  }
  .slider-home {
    height: 344px;
    width: 60%;
  }
  .slider-img {
    width: 100%;
    height: 344px;
  }
  .slider-img:hover {
    opacity: 0.6;
  }
  .text-one {
    float: inline-end;
    height: 344px;
    width: 40%;
    display: inline-block;
    background-color: #565252;
  }
  .text-in {
    color: #ffff;
    padding-left: 26px;
    font-size: 15px;
    display: block;
    margin-top: 30px;
    padding-right: 26px;
  }
  
  .text-on {
    font-size: 20px;
    color: #ef410a;
  }
  .text-off {
    font-size: 13px;
    
  }
  .text-off:hover {
    color: #ef410a;
    cursor: pointer;
  }
  #container {
    background-color: #000000;
  }
  /* @media (min-width: 1024px) { */
    #container .love-home, 
    #container .sword-home, 
    #container .anime-home, 
    #container .adventure-home, 
    #container .horror-film,
    #container .movie-home, 
    #container .new-home, 
    #container .bxh-home, 
    #container .film-home {
    margin-top: 40px;
    width: 100%;
    margin-left: 0px;
  }
  /* } */
  .section-heading {
  display: inline-block;
  font-size: 20px;
  color: cyan;
  margin: 12px;
  }
  .subheading {
  display: inline;
  margin-left: 4px;
  padding: 9px 29px;
  font-size: 16px;
  background-color: #000000;
  border-radius: 7px;
  } 
  .subheading a {
  color: #ffff;
  text-decoration: none;
  }

  .subheading:hover  {
  background-color: red;
  color: #000000;
  cursor: pointer;

  }
  .endheading {
  float: inline-end;
  margin-right: 55px;
  padding: 9px 30px;
  background-color: black;
  font-size: 16px;
  color: #ffff;
  margin-top: 8px;
  border-radius: 7px;
  }
  .endheading:hover {
  background-color: red;
  cursor: pointer;
  }
/* film new */
  @media (min-width: 992px) {
  .ms-lg-4 {
    margin-bottom: 40px;
  }
  }
  .film-home {
    background-color: #00000093;
  }
  .section-heading {
  display: inline-block;
  font-size: 20px;
  }
  .film-list {
  border-radius: 5px;
  background-color: black;
  }
  .film-img {
  width: 100%;
  height: 200px;
  }
  .film-img:hover {
    opacity: 0.6;
  }
  .name-film{
  font-size: 23px;
  margin-bottom: 10px;

  }
  .name-film {
    color: red;
    font-size: 15px;
  }
  .film-play {
    font-size: 16px;
    color: red;
    padding: 12px 28px;
    background-color: gray;
    margin-left: 47px;
    border-radius: 44px;
    
  }
  .film-play:hover {
    cursor: pointer;
    background-color: red;
    color: #ffff;
  }
  .film-two {
    font-size: 16px;
    color: red;
    padding: 12px 28px;
    background-color: gray;
    margin-left: 30%;
    border-radius: 44px;
}
  .film-two:hover {
    cursor: pointer;
    background-color: red;
    color: #ffff;
  }
  /* xong new */
  /* bxh */
 
  .bxh-image {
    width: 100%;
    height: 250px;
  }
  .mobile-size:hover {
    transform: scale3d(1.20, 1.20, 1.0);
    object-fit: cover;
    transition: all .8s ease-in-out;
  }
  /* xong bxh */
  /* film le */
 
  .new-image {
    width: 100%;
    height: 100%;
  }
  .new-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all .8s ease-in-out;
}

  .new-item {
    margin-left: 11px;
    border-radius: 5px;
    margin-top: -29px;
    font-size: 19px;
    color: #fff;
  }
  .new-item:hover {
    color: red;
    cursor: pointer;
  }
  /* xong film le */
  /* film bo */
  .movie-image {
    width: 100%;
    height: 100%;
  }
  .movie-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all .8s ease-in-out;
  }
  .movie-text {
    font-size: 16px;
    margin-left: 10px;
    margin-top: -180px;
    margin-bottom: 160px;
  }
  
  .movie-item {
    text-align: center;
  }
  .movie-item:hover {
    color: red;
  }
  .icon-play {
    opacity: 0;
    margin-left: -13%;
    font-size: 60px;
    position: absolute;
    margin-top: 5%;
  }
  .movie-icon:hover{
    .icon-play{
      opacity: 1;
      color: red;
    }
  }
  /* xong film bo */

  .horror-item:hover {
    color: red;
    cursor: pointer;
  }
  .horror-title {
      margin-left: 26px;
      margin-top: -350px;
      margin-bottom: 324px;
  }
  .horror-stop:hover {
    cursor: pointer;
    color: red;
  }
  .horror-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all .8s ease-in-out;
  }
/* xong kinh di */
  .adventure-play {
    font-size: 16px;
    color: red;
    padding: 12px 28px;
    background-color: gray;
    margin-left: 47px;
    border-radius: 44px;
    text-decoration: none;
  }
  .adventure-image:hover {
    opacity: 0.7;
  }
  .adventure-play:hover {
    cursor: pointer;
    background-color: red;
    color: #ffff;
  }
  /* xong film hanh dong */
  .anime-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }
  .sword-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }
  /* xong film kiem hiep */
  .love-img {
    height: 250px;
  }
  .love-img:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }
  .love-image {
    height: 250px;
  }
  .love-image:hover {
    opacity: 0.7;
    transform: scale3d(1.10, 1.20, 1.0);
    object-fit: cover;
    transition: all 1.2s ease-in-out;
  }
  .love-tx {
    color: aqua;
    font-size: 23px;
    margin-top: -60%;
    margin-left: 12px;
    margin-bottom: 55%;
  }
  .love-told {
    color: aqua;
    font-size: 23px;
    margin-top: -60%;
    margin-left: 12px;
    margin-bottom: 55%;
  }
  .love-play-two {
    opacity: 0;
    position: absolute;
    font-size: 61px;
    margin-top: 7%;
    margin-left: -19%;
  }
  .love-play-three {
    opacity: 0;
    position: absolute;
    font-size: 61px;
    margin-top: 7%;
    margin-left: -19%;
  }
  
  .love-icon:hover {
    .love-play-two, 
    .love-play-three {
      opacity: 1;
      color: red;
    }
  }
  /* xong film tinh cam */
  .footer {
    width: 100%;
    border: 1px solid;
    background-color: #000000;
  }
  
  .footer-title {
    text-align: center;
  }
  
  .gift-footer {
    color: #ffff;
    font-size: 20px;
    margin-top: 28px;
  }
  
  .item-footer {
    color: #ffff;
    font-size: 15px;
    margin-bottom: 30px;
  }
  
  .list-social {
    float: inline-start;
  }
  
  .list-social h3 {
    text-align: center;
    color: #0075ff;
  }
  .icon-social {
    font-size: 30px;
  }
  .film-list h3 {
    color: #00b2ff;
  }
  .film-list li a {
    line-height: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .film-list li a:hover {
    color: #D11111;
  }
  
  .insta {
    border-radius: 7px;
    background: linear-gradient(
      139.13deg,
      #db00ff -2.1%,
      #ff00a8 45.08%,
      #ffe600 89.4%
    );
  }
  
  .fb {
    color: #0075ff;
  }
  
  .tw {
    color: #00b2ff;
  }
  .gml {
    color: #ff0303;
  }
  /* web two */
  .home-two {
    margin-left: 2%;
    margin-top: -27%;
  }
  .title-slider {
    font-size: 28px;
  }
  .title-home {
  
    font-size: 28px;
  }
  .text-slider {
    position: absolute;
    margin-top: -17%;
    margin-left: 21%;
  }
  .icon-home {
    font-size: 20px;
    margin-right: 6%;
    padding: 10px;
    float: left;
    border-radius: 14px;
    background-color: red;
  }
  .icon-home a {
    font-size: 22px;
    color: #fff;
  }
  .bl-like {
    background-color: blue;
    border-radius: 11px;
    display: inline-flex;
    padding: 4px 12px;
  }
  .bl-like a {
    font-size: 20px;
    color: #ffff;
  }
  strong:hover {
    color: red;
  }
  .nd-home {
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  
  .tag-link {
    font-size: 20px;
    display: inline-block;
    background-color: darkgray;
    color: bisque;
    padding: 7px 17px 7px 14px;
  }
  .tag-link:hover {
    background-color: #D11111;
    color: #000000;
    border: 1px solid #fff;
  }
  .bl-title {
    font-size: 28px;
  }
  .bl-text {
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin: 14px 0px 0px 0px;
  }
  .icon-bl {
    font-size: 48px;
    margin: 23px 44px 2px 29px;
    float: left;
  }
  .text-home {
    width: 90%;
    font-size: 24px;
    margin: 25px 0px 25px 0px;
    padding: 15px;
  }
  /* web three */
  .title-dav {
    background-color: #000000;
    border: 2px solid yellowgreen;
  }
  .watch-left {
    border-top: 5px solid red;
    float: left;
    font-size: 26px;
    margin-left: 3%;
    color: dimgray;
  }
  .watch-right {
    text-align: end;
    font-size: 26px;
    margin-left: 3%;
    color: dimgray;
    border-top: 5px solid #fff;
  }
  .fa:active {
    color: #ffe600;
  }
  .fa:focus {
    color: #fff;
  }

  